main.container {
    text-align: center;
    padding: 3rem;
    max-width: 70rem;
    padding-top: 7rem;
}

form {
    max-width: 60rem;
    padding: 0rem 1rem 2rem;
}

form div.input-field {
    display: grid;
    align-items: center;

    gap: 2rem;
    width: 100%;
}

form div.input-field div.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input,
button {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    width: 100%;
}

form button {
    margin-top: 1.5rem;
    max-width: 23rem;
    align-self: center;
    border: .1rem solid transparent;
}

/*Register Radio Styling*/
form div.sex {
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .5rem 0rem;
}

form div.sex div.flex {
    display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
    width: 100%;
}

form label.sex {
	border: .1rem solid var(--clr-bdr-2);
	border-radius: 1rem;
	padding: .5rem 1rem;
	cursor: pointer;
	transition: .5s linear;
    width: 50%;
}

form label[for="sex"] {
		font-weight: 600;
}

form label.sex:hover {
	background-color: var(--clr-sec);
	border-color: var(--clr-bdr-1);
}

form input[type="radio"]:checked + label {
	background-color: var(--clr-light);
	color: var(--clr-txt);
}

main .flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

div.err-txt {
    font-size: 1.4rem;
    color: var(--clr-secondary-2);
}

/*-----------checkedbox----------*/
/*NOTE: Other checkbox styling are in radio query styling*/
form .consent-input-field label {
    cursor: pointer;
}

form .consent-input-field .err-txt {
    margin-top: 1.5rem;
    text-align: left;
    font-size: 1.2rem;
}

form .consent-flex {
	display: flex;
    gap: .5rem;
	align-items: center;
    margin-bottom: -1rem;
    font-size: 1.4rem;
}	

form .consent-flex .check-box svg {
    margin-top: -.2rem;
    margin-right: 1rem;
	width: 1.2rem;
	height: 1.2rem;
    cursor: pointer;
}

form .consent-input-field input[type="checkbox"] ~ .consent-flex svg .border {
	stroke: var(--clr-bdr-1);
}

form .consent-input-field input[type="checkbox"]:checked ~ .consent-flex svg .border {
	stroke: var(--clr-bdr-2);
}

form .consent-input-field input[type="checkbox"]:checked ~ .consent-flex svg .fill-box,
.consent-input-field input[type="checkbox"]:checked ~ .consent-flex svg .tick {
	display: block !important;
}

@media (min-width: 676px) {
    form div.input-field {
        grid-template-columns: repeat(2, 1fr);
    }

    form div.input-field div.input.email-input {
        grid-column: span 2;
    }
}

@media (min-width: 1050px) {
    main.container {
        padding-left: revert;
        padding-right: revert;
    }
}